.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: Poppins;
  font-weight: 500;
  font-size: inherit;
  background-color: #52505054;
  border: none;
  color: #ffffffce;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  border: 1px solid #f3db52;
  background-color: #52505054;
}

.search__input::-webkit-input-placeholder {
  font-family: Poppins;
  font-weight: 500;
  color: #fffefe48;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #3d3c3c49;
  border: 1px solid #f3db52;
  border-radius: 50%;
  margin-top: 0.1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.5em;
  width: 2.3em;
  fill: #f3db52;
}

.cardConteiner {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.Container{
  display: flex;
  gap: 40px;
  justify-content: center;
  width: 100%;

}

.buttonAll{
  border: 1px solid #f3db52;
  border-radius: 12px;
  font-family: Poppins;
  font-weight: 500;
  background-color: #3d3c3c49;
  font-size: large;
  color:#f3db52;
  cursor: pointer;
}



@media (max-width: 500px) {
  .search__input{
    width: 100px;
    font-size: 14px;
    height: 50px;
    padding: 1px 1px;
  }
  .buttonAll{
    font-size: 14px;
    width: 100px;
    height: 50px;
  }
}