.layout {
  display: flex;
  align-items: center;
  gap: 60px;
}
.CentradoContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 300px;
  gap: 10px;
}
.button {
  font-family: Poppins;
  font-size: 1rem;
  color: #f3db52;
  font-weight: 500;
 
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #f3db52;
  background: #25252500;
  box-shadow: 1px 1px #f3db52;
  cursor: pointer;
  margin: 35px 0;
}

.button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
.container {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #0400ff;
  background-image: url("../../assets/fondoBattle.png");
  justify-content: center;
  align-items: center;
}



.divbutton {
  padding-top: 20px;
}

.p {
  font-family: Poppins;
font-weight: 300;
  margin: 0;
}
.Name{
    display: flex;
  
    width: 100%;
    color: #fff;
    justify-content: center;
}
.img {
  width: 200px;
  height: 200px;
  background-image: url("../../assets/satrs.jpg") !important;
  border-radius: 50%;
}

.content {
  background: rgba(0, 0, 0, 0.774);

  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.metacontainer {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.container .content {
  position: absolute;
  top: 0px;
  z-index: 3;
  bottom: 0;
  display: flex;
  flex-direction: column;

  width: 100%;
  justify-content: center;
  transform: scale(0);
  transition: 0.2s;
}

.container:hover .content {
  transform: scale(1);
  /* bottom: 25px; */
}

.content .p {
  display: flex;
  position: relative;
  color: #fff;
  font-family: Poppins;
  font-weight: 400;
    margin: 0;
font-size: 20px;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
.h1 {
  font-family: Poppins;
  font-size: 16px;
  margin: 0;
  padding-top: 20px;
}

