.layout {
  display: flex;
  align-items: center;
  gap: 20px;
}
.button {
  font-family: Poppins;
  font-size: 1rem;
  color: #f3db52;
  font-weight: 500;

  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #f3db52;
  background: #25252500;
  box-shadow: 1px 1px #f3db52;
  cursor: pointer;
  margin: 35px 0;
}
.CentradoContainer {
  display: flex;
  width: 300px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
.container {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #f3db52;
  background-image: url("../../assets/fondoBattle.png");

  justify-content: center;
  align-items: center;
}

.divbutton {
  display: flex;
  flex-direction: column;
  width: 290px;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.p {
  font-family: Poppins;
  font-weight: 300;
  margin: 0;
}
.Name {
  display: flex;

  width: 100%;
  color: #fff;
  justify-content: center;
}
.img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.content {
  background: rgba(0, 0, 0, 0.774);

  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.metacontainer {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.container .content {
  position: absolute;
  top: 0px;
  z-index: 3;
  bottom: 0;
  display: flex;
  flex-direction: column;

  width: 100%;
  justify-content: center;
  transform: scale(0);
  transition: 0.2s;
}

.container:hover .content {
  transform: scale(1);
  /* bottom: 25px; */
}

.content .p {
  display: flex;
  position: relative;
  color: #fff;
  font-family: Poppins;
  font-weight: 300;
  margin: 0;
  font-size: 20px;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
.h1 {
  font-family: Poppins;
  font-size: 16px;
  margin: 0;
  padding-top: 20px;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #474bff #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}

@media (max-width: 700px) {
  .h1{
    font-size: 12px;
  }
  .CentradoContainer{
    padding: 20px;
    gap: 20px;
  }
  .content{
    width: 100px;
    height: 100px;
  }
  .content .p{
    font-size: 10px;
  }
  .img{
    width: 100px;
    height: 100px;
  }

  .container {
    background-repeat:no-repeat;
    background-size:cover;  
    width: 100px;
    height: 100px;
  }
  .button {
    width: 100px;
    height: 40px;
    padding: 0px 0px;
    font-size: 12px;
  }
}
