

body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/fondo.png");
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: 8px;
}

body::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar:horizontal {
  height: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 10px;
  border: 2px solid #303233;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}
